.input-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .password-input {
    width: 300px;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical; /* Permite expansão vertical */
    overflow: hidden;
  }
  
  .password-input:focus {
    outline: none;
    border-color: #66afe9;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
  }
  